<body>
    <header class="line container">
        
        <div class="logo line">
            <img src="/assets/img/logo.png"  class="logo" alt=""> 
        </div>
        <div class="toggleMenu" onclick="toggleMenu()"></div>
        <nav class="navigation line" >
            <ul class="line" >
                <li><a href="">Login</a></li>
                <li><a href="">Register</a> </li>
            </ul>

        </nav>
        
        
    
    </header>
    <section class="hero line container" >
    
    <div class="hero-content">
        <div class="left">
            <h1>Alloacademy TN</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tin</p>
            <div class="bouton">
                <a href="" class="hero-btn">Join now</a>

            </div>
            
        </div>
  
    <div class="hero-img line">
        <img src="/assets/img/hero-01.png" alt="">
    </div>
    
    </div>
    
    
    </section>

</body>
