<div class="global">
    <body>
    <div class="container .container-fluid Regular shadow">
        
        <div class="cover"> 
            <div class="front">
                <div class="buttonBox " style="position:absolute ; z-index:700;margin-top: 60%; margin-left: x;">    <button class="btn Register Regular shadow" routerLink="/login"  (click)="OnSubmitForm()" >LOGIN</button>
                </div>
                
                <img src="/assets/img/login1.png" alt=""> </div> 

            </div>
    
        
    
        <form action="" class="form-control" [formGroup]="forgetpassword">
           <div class="form-content">
            <div class="login-form">
                
    
           
            <div class="input-boxes">
                <div class="title" routerLink="">

                    <h4 >RESET PASSWORD</h4>
                </div>
                <div class="input-box">
                    
                    <input type="text" placeholder="Phone number or email" formControlName="email" name="uname" ><br>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf=" clicker && f['email'].errors " >
                    username empty !
                 </div>
                 <div [class]="" role="alert " *ngIf=" clicker && !f['email'].errors " >
                <p class="vert">verify your inbox please! </p>
                 </div>
    
                
            

    
               
                 <div class="buttonBox" style="margin-top:10%">    <button class="btn  Regular shadow"   (click)="OnSubmitForm()" >RESET</button>
                 </div>
        
        
                
               
    
            </div>
            

   
           
            <div class="text hide" style=" margin-left: 13%;">  <a >Don't have account? <span style="color: #2DA4DD;" routerLink="/Register">Register now</span> </a>  </div>

           </div>

           
        </div>

        
           
        </form>
        

        
            
            
            
            
        </div>
    
       
      
    
    
    
    
    
    
    
    
    
    
    
</body>

</div>

 